{%extends 'admin_dashboard.html'%}
{% block rightcontent %}
<div class="p-6">
<form action="{%if id %}{% url 'edit_ring' id %}{%else%}{% url 'add_ring'  %}{%endif%}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <span>
        <label>Name</label>
        <input type="text" name="name" id="name" class="form-control" {%if ring_settings.name%}value="{{ring_settings.name}}"{%endif%}required>
    </span>
    <span>
        <label>Description</label>
        <textarea name="description" name="description" id="description" class="form-control" required>{%if ring_settings.description%}{{ring_settings.description}}{%endif%}</textarea>
    </span>
    
    <span>
        <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded-lg">Submit</button>
    </span>
</form>
</div>
{% endblock rightcontent %}