{%load static%}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<div id="navbar-container">
    {% include 'navbar.html' %}
</div>
<div class="steps">
    <div class="step ">1. Select Setting</div>
    <div class="step ">2. Select Stone</div>
    <div class="step active">3. Complete Ring</div>
  </div>
<span>
    {%for i in combination_details%}
    <img src="{{ i.files.url }}" alt="Round Diamond Ring" style="width:100px;height:100px"/>
    {%endfor%}
    <p>{{combination.price}}</p>
</span>
<div id="footer-container">
    {% include 'footer.html' %}
</div>