{% load static%}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Almaz Diamond{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- Navigation Bar -->
    <div id="navbar-container">
        {% include 'navbar.html' %}
    </div>
    {% block content %}
    <div>
        <div style="display: flex;flex-direction:row;background-image: linear-gradient(#BC9273,#FFF2E8 );">
                <div style="text-align: center;padding: 9% 5% 9% 9%;">
                        <h4 class="landh4">YOUR JOURNEY BEGINS NOW</h4>
                        <h1 class="landh1">MAKE IT YOURS</h1>
                        <p class="landp">Craft your dream ring in 2 easy steps: pick your setting,<br> customize it, and find the ideal center stone.</p>
                        <button class="landbtn">Shop Engagement Rings</button>
                </div>
                <div>
                    <img src="{%static 'img/landinggirl.png'%}" alt="">
                </div>
        </div>
        <div>
            <div style="display: flex;justify-content:center;">
                <div class="scndsecring">
                    <img src="{% static 'img/ringseting.png'%}" alt="">
                    <div class="scndhead">RING SETTING</div>
                    <p class="scndp">Elevate your love story with our exquisite<br> collection of engagement ring designs</p>
                    <button class="scndbtn" onclick="redirect_page('setting')" >Start With a Setting</button>
                </div>
                <div>
                    <img src="{% static 'img/ringcenter.jpg'%}" alt=""  style="height: 85vh;">
                </div>
                <div class="scndsecring">
                    <img src="{% static 'img/diamondseting.png'%}" alt="">
                    <div class="scndhead">CENTER STONE</div>
                    <p class="scndp">Explore our stunning diamond collection <br> and discover the brilliance in every choice.</p>
                    <button class="scndbtn" onclick="redirect_page('stone')">Start With a Stone</button>
                </div>
            </div>
        </div>
        <div >
            <div>
                <img src="{% static 'img/mainhome2@img.png'%}" alt="">
               
            </div>
            
        </div>
        <div>
            <div class="ourselec">OUR SELECTIONS</div>
            <div style="display: flex;justify-content:space-between;margin:2%;">
                <div class="cardsel">
                    <img src="{% static 'img/selectionsimg@1.png' %}" alt="" style="height: 35vh;">
                    <h3>Engagement Rings</h3>
                    <p>Shop Now ></p>
                </div>
                <div class="cardselsec" >
                    <img src="{% static 'img/selectionsimg@2.png' %}" alt="" style="height: 35vh;">
                    <h3>Eternity Rings</h3>
                    <p>Shop Now ></p>
                </div>
                <div class="cardsel">
                    <img src="{% static 'img/selectionsimg@3.png' %}" alt="" style="height: 35vh;">
                    <h3>Wedding Bands</h3>
                    <p>Shop Now ></p>
                </div>
                <div class="cardselsec">
                    <img src="{% static 'img/selectionsimg@1.png' %}" alt="" style="height: 35vh;">
                    <h3>Fine Jewelery</h3>
                    <p>Shop Now ></p>
                </div>
            </div>
        </div>
        <div>
            <img src="{% static 'img/mainhome3img.png'%}" alt="">
           
        </div>
        <div style="display: flex;flex-direction:row;background-image: linear-gradient(#fff,#FFF2E8 );">
            <div style="text-align: center;padding: 9% 5% 9% 9%;">
                <h1 class="landh1">CONSULT YOUR EXPERTS NOW</h1>
                    <h4 class="landh4">MAKE IT YOURS</h4>
                    
                    <p class="landp">Enjoy personalized advice and a free live consultation with Almaz experts for your dream ring.</p>
                    <button class="landbtn">Set an Appoinment</button>
            </div>
            <div>
                <img src="{%static 'img/4secalmaz.png'%}" alt="">
            </div>
        </div>
        <div>
            <div class="ourselec">OUR BEST SELLERS</div>
            <div style="display: flex;gap:14%;margin:2%;">
                <div class="cardsel2">
                    <img src="{% static 'img/ringcenter.jpg' %}" alt="" style="height: 35vh;">
                    <h3>Engagement Rings</h3>
                    <p style="margin-top: -7%;">$1500</p>
                    <p style=" line-height: unset;color: gray;margin-top: -8%;">With Stone $6000</p>
                </div>
                <div class="cardsel2">
                    <img src="{% static 'img/ringcenter.jpg' %}" alt="" style="height: 35vh;">
                    <h3>Engagement Rings</h3>
                    <p style="margin-top: -7%;">$1200</p>
                    <p style=" line-height: unset;color: gray;margin-top: -8%;">With Stone $6000</p>
                </div>
                <div class="cardsel2">
                    <img src="{% static 'img/ringcenter.jpg' %}" alt="" style="height: 35vh;">
                    <h3>Engagement Rings</h3>
                    <p style="margin-top: -7%;">$2400</p>
                    <p style=" line-height: unset;color: gray;margin-top: -8%;">With Stone $6000</p>
                </div>
                <div class="cardsel2">
                    <img src="{% static 'img/ringcenter.jpg' %}" alt="" style="height: 35vh;">
                    <h3>Engagement Rings</h3>
                    <p style="margin-top: -7%;">$3700</p>
                    <p style=" line-height: unset;color: gray;margin-top: -8%;">With Stone $6000</p>
                </div>
            </div>
        </div>
        <div>
            <img src="{% static 'img/mainhome4img.png'%}" alt="">
           
        </div>
        <div style="display: flex;justify-content:space-between;padding:5%;">
            <div class="iconsmain">
                <img src="{% static 'img/mainicon1.png'%}"alt="" >
                <p>Free Resizing</p>
            </div>
            <div class="iconsmain">
                <img src="{% static 'img/mainicon2.png'%}"alt="">
               <p> Overnight Shipping  </p>
            </div>
            <div class="iconsmain">
                <img src="{% static 'img/mainicon3.png'%}"alt="">
               <p>30 Days Return</p>  
            </div>
            <div class="iconsmain">
                <img src="{% static 'img/mainicon4.png'%}"alt="">
                <p>Certificate</p> 
            </div>
            <div class="iconsmain">
                <img src="{% static 'img/mainicon5.png'%}"alt="">
                <p>Conflict Free Diamonds</p> 
            </div>
            <div class="iconsmain">
                <img src="{% static 'img/mainicon6.png'%}"alt="">
                <p>Safe Packing</p> 
            </div>

        </div>
        <div style="background-image: linear-gradient(#BC9273,#FFF2E8 );">

            <div class="ourselec">Trust Pilot</div>
            <div class="ourselec1">See what our clients have to say</div>
            <div style="display: flex;justify-content:space-between;margin:2%;gap:25px;">
                <div class="cardsel2" style="padding: 2%;border-radius:40px;">
                   <h3>Genne.B</h3>
                    <hr>
                    <p>My experience with Almaz was phenomenal! I was able to customize the ring 
                        I wanted on the website and choose the stone myself. I was even able to get
                         a discount for my order! I received my order within 3 weeks and I am so happy with the quality.
                         This 3 carat lab diamond Riley necklace was my second purchase in 6 weeks. Both my eternity band and 
                         this necklace are everything I was hoping for! AND… I received the necklace 20 hours after I ordered it- amazing!
                         Final product arrived and was fantastic. Great quality product and sales were a plus. </p>
                </div>
                <div class="cardsel2"  style="padding: 2%; border-radius:40px;">
                    <h3>Johnson.A</h3>
                     <hr>
                     <p> I was able to customize the ring 
                         I wanted on the website and choose the stone myself. I was even able to get
                          a discount for my order! I received my order within 3 weeks and I am so happy with the quality.
                          This 3 carat lab diamond Riley necklace was my second purchase in 6 weeks. Both my eternity band and this necklace are 
                          everything I was hoping for! AND… I received the necklace 20 hours after I ordered it- amazing! 
                          Final product arrived and was fantastic. Great quality product and sales were a plus.</p>
                 </div>
                 <div class="cardsel2"  style="padding: 2%;border-radius:40px;">
                    <h3>Samuel.S</h3>
                     <hr>
                     <p>Experience with Almaz was phenomenal! I was able to customize the ring 
                         I wanted on the website and choose the stone myself. I was even able to get
                          a discount for my order! I received my order within 3 weeks and I am so happy with the quality.
                          This 3 carat lab diamond Riley necklace was my second purchase in 6 weeks. Both my eternity band and this 
                          necklace are everything I was hoping for! AND… I received the necklace 20 hours after I ordered it- amazing! 
                          Final product arrived and was fantastic. Great quality product and sales were a plus.</p>
                 </div>
                
            </div>
        </div>
    </div>



    
    
    {% endblock %}
    <!-- Footer -->
    <div id="footer-container">
        {% include 'footer.html' %}
    </div>

    <script>
        redirect_page=(page)=>{
            window.location.href=`/${page}`;
        }
    </script>
</body>
</html>   
