{% extends 'admin_dashboard.html' %}

{% block rightcontent %}
<div class="p-6">
    <h1 class="text-2xl font-bold">Ring Settings</h1>
    <p>Manage your ring settings here.</p>
    <a href="{% url 'add_ring_variant' ring_setting.id %}" class="mt-4 inline-block">
        <button class="px-4 py-2 bg-blue-500 text-white rounded-lg">Add Ring Variant</button>
    </a>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Setting</th>
                <th>Metal Type</th>
                <th>Shape</th>
                <th>Price</th>
                <th>Currency</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for variant in ring_setting_variants %}
            <tr>
                <td>{{ variant.ring.name }}</td>
                <td>{{ variant.ring_settings }}</td>
                <td>{{ variant.metal_type }}</td>
                <td>{{ variant.shapes }}</td>
                <td>{{ variant.price }}</td>
                <td>{{ variant.currency }}</td>
                <td>
                    <a href="{% url 'edit_ring_variant' variant.ring_id variant.id %}">
                        <button class="px-4 py-2 bg-blue-500 text-white rounded-lg">Edit</button>
                    </a>
                    <a href="{% url 'delete_ring_setting_variant' variant.ring.id variant.id %}">
                        <button class="px-4 py-2 bg-red-500 text-white rounded-lg">Delete</button>
                    </a>
                </td>
            </tr>
            {% endfor %}
    </table>
</div>
{% endblock rightcontent %}
