{% extends 'admin_dashboard.html' %}

{% block rightcontent %}
<div class="p-6">
    <h1 class="text-2xl font-bold">Stone</h1>
    <p>Manage your Stone here.</p>
    <a href="{% url 'add_stone' %}" class="mt-4 inline-block">
        <button class="px-4 py-2 bg-blue-500 text-white rounded-lg">Add Stone</button>
    </a>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Carat</th>
                <th>Shape</th>
                <th>Price</th>
                <th>Currency</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for stone in stones %}
            <tr>
                <td>{{ stone.stone_name }}</td>
                <td>{{ stone.stone_carat }}</td>
                <td>{{ stone.stone_shape }}</td>
                <td>{{ stone.stone_price }}</td>
                <td>{{ stone.currency }}</td>
                <td>
                    <a href="{% url 'edit_stone' stone.id %}">
                        <button class="px-4 py-2 bg-blue-500 text-white rounded-lg">Edit</button>
                    </a>
                    <a href="{% url 'delete_stone' stone.id %}">
                        <button class="px-4 py-2 bg-red-500 text-white rounded-lg">Delete</button>
                    </a>
                </td>
            </tr>
            {% endfor %}
    </table>
</div>
{% endblock rightcontent %}
