{% extends 'admin_dashboard.html' %}

{% block rightcontent %}
<div class="p-6">
    <h1 class="text-2xl font-bold">Ring Settings</h1>
    <p>Manage your ring settings here.</p>
    <a href="{% url 'add_stone' %}" class="mt-4 inline-block">
        <button class="px-4 py-2 bg-blue-500 text-white rounded-lg">Add Stone</button>
    </a>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Carat</th>
                <th>Type</th>
                <th>Shape</th>
                <th>Price</th>
                <th>Currency</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for ring in ring_settings %}
            <tr>
                <td>{{ ring.name }}</td>
                <td>{{ ring.ring_settings }}</td>
                <td>{{ ring.metal_type }}</td>
                <td>{{ ring.shapes }}</td>
                <td>{{ ring.price }}</td>
                <td>{{ ring.currency }}</td>
                <td>
                    <a href="{% url 'edit_ring' ring.id %}">
                        <button class="px-4 py-2 bg-blue-500 text-white rounded-lg">Edit</button>
                    </a>
                    <a href="{% url 'delete_ring_setting' ring.id %}">
                        <button class="px-4 py-2 bg-red-500 text-white rounded-lg">Delete</button>
                    </a>
                </td>
            </tr>
            {% endfor %}
    </table>
</div>
{% endblock rightcontent %}
